/budget.xlsx
/ClassWork.py
/classwork_16_07.py
/creds.json
/figure.png
/file.txt
/Games.txt
/Games2.txt
/homework_1.py
/homework_2.py
/homework_4_1.py
/homework_4_2.py
/homework_5_1.py
/homework_5_2.py
/homework_5_3.py
/homework_5_4.py
/homework_6.py
/homework_6_1.py
/homework_6_2.py
/homework_7_1.py
/homework_7_2.py
/homework_8.py
/homework_9.py
/homework_10.py
/homework_11.py
/homework_11_lower_letters.py
/homework_11_mixed_letters.py
/homework_11_mixed_letters_symbols.py
/homework_11_non-repeating letters.py
/homework_11_simple_passwords.py
/homework_11_upper_letters.py
/homework_13.py
/homework_13_2.py
/homework_14.py
/homework_15.py
/homework_15_2.py
/homework_16.py
/homework_17.py
/homework_17_2.py
/homework_18.py
/homework_19.py
/homework_20.py
/homework_25.py
/homework_26.py
/homework_27.py
